#DB Info
PG_URL = localhost

#Avon DB info
DB_NAME = data
AUTH_PG_USER = example
AUTH_PG_PASSWORD = example

#Code Gen
DATABASE_URL=postgres://example:example@localhost/data

#GENERAL URL
SITE_URL = http://localhost:5173

